body {
    height: 125vh;
    margin: 0;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-div {
    background-color: #dadbf1;
    width: 100%;
    margin: 0;
    padding: 10px;
    height: 225px;
    border-radius: 5px;
}

.search-div form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
}

.search-div form input {
    width: 40%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    outline: none;
}

.left-side {
    background-color: white;
    margin-left: 9%;
}

.right-side {
    background-color: white;
}

.learn-more {
    display: flex;
    justify-content: space-between;
    width: 69%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.left-buttons, .right-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

p {
    line-height: 1.4;
    margin: 0;
    width: 80%;
    text-align: justify;
    font-size: 15px;
    white-space: 0.2em;
}


.learn-more h2 {
    font-size: 20px;
}

.search-div form i {
    position: absolute;
    top: 40%;
    left: 67%;
    color: gray;
}

h2 {
    font-size: 45px;
}

.logo {
    color: white;
    line-height: 80px;
}


.selectables {
    float: right;
    margin-right: 20px;
}

.selectables ul li {
    display: inline;
    line-height: 50px;
    margin: 0 5px;
}

.selectables ul li button {
    font-size: 17px;
    border-radius: 5px;
    height: 30px;
    border-color: white;
    color: white;
}

.selectables ul li button:hover {
    filter: brightness(50%);
}

.darkGray {
    background-color: #162129;
    border-bottom: 0.5px solid white;
    color: white;
}

.blue {
    background-color:#4C5FD5;
    border: none;
}

h1 {
    text-align: center;
}

.learn-more button {
    position: relative;
    top:5%;
    border: none;
    background-color: white;
    color: blue;
    padding: 20px 0 0 0;
}

.learn-more button:hover {
    color: skyblue;
    font-size: 16px;
    cursor: pointer;
}

.no-wrap {
    width: 100%;
}

footer {
    width: 100%;
    color: white;
    background-color: black;
    margin: 0;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: gray;
}

footer h2, footer h3 {
    font-size: 16px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-main {
    padding: 2.25rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-items {
    padding: 1.25rem;
    min-width: 15.5rem;
}

footer ul li {
    font-size: 13px;
}